<!-- -->
<launch>
    <node pkg="planning" type="planning" name="planning" output="screen">
        <param name="ues_sim_time"  value="false" />
        <rosparam command="load" file="$(find planning)/config/reference_line.yaml"/>
        <rosparam command="load" file="$(find planning)/config/em_planner.yaml"/>
        <rosparam command="load" file="$(find planning)/config/lattice_planner.yaml"/>
    </node>
</launch>